/* MEDIA DE CELULAR */ 

/* @media ( min-width 320px ) and ( max-width 575px) {
    }
    
    /* BARRA DE NAVEGACION */

    

/* .header__lista ul {
    flex-direction: column;
} /* 
/*  MAIN- INDEX  */ 

/* .main__boton button {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-items:center;
}
 */

/* FOOTER */

/* MEDIA QUIERIE DE TABLET  */

/* @media ( min-width 576px ) and ( max-width 992px) {

} */